.project
target/
/.settings
*/.settings
*/*/.settings
/results
*.releaseBackup
release.properties
/.idea
*.iml
/target
*/target
*/*/target
*.log
*.lck
metanomedb.properties
metanomedb.script
/metanomedb.tmp
.classpath
*.paw
config.js
build.out
.DS_Store
