<div class="main-container">

  <div class="tabbar">
    <div class="tabbar-content">
      <a ng-href='#/new' class="tabLink">
        <div class="tab"><span>NEW</span></div>
      </a>
      <a ng-href='#/history' class="tabLink active">
        <div class="tab"><span>HISTORY</span></div>
      </a>
      <a ng-href='#/about' class="tabLink">
        <div class="tab"><span>ABOUT</span></div>
      </a>

      <div style="text-align: right"><img style="margin-right: 30px; align-items: center; width: 8%" src="/assets/images/logo.png"></div>
    </div>
  </div>

  <md-card>
    <md-table-container>
      <table md-table class="md-primary history-table">
        <thead md-head md-order="historyTable.query.order">
          <tr md-row>
            <th md-column md-order-by="id"></th>
            <th md-column md-order-by="algorithm-name">Algorithm</th>
            <th md-column md-order-by="date">Date</th>
            <th md-column md-order-by="execution-time">Execution Time</th>
            <th md-column md-order-by="inputs">Inputs</th>
            <th md-column md-order-by="result-type">Result Types</th>
            <th md-column></th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row ng-repeat="c in content | orderBy: historyTable.query.order |
            limitTo: historyTable.query.limit : (historyTable.query.page -1) * historyTable.query.limit">
            <td md-cell ng-click="showResult(c)">{{c.id}}</td>
            <td md-cell ng-click="showResult(c)"><b>{{c.name}}</b></td>
            <td md-cell ng-click="showResult(c)" style="color: grey">{{c.date}}</td>
            <td md-cell ng-click="showResult(c)" style="color: grey">{{c.time}}</td>
            <td md-cell ng-click="showResult(c)">{{c.inputs}}</td>
            <td md-cell ng-click="showResult(c)">{{c.resultType}}</td>
            <td md-cell>
              <i class="zmdi zmdi-delete zmdi-hc-lg datasourceIcon" ng-click="confirmDelete(c)"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>

    <md-table-pagination md-limit="historyTable.query.limit"
                         md-page="historyTable.query.page"
                         md-total="{{historyTable.count}}"
                         md-options=[10,20,30,40,50] md-page-select></md-table-pagination>
  </md-card>

</div>
