<div ng-if="$parent.openVisualizationType == 'UCC'">
  <iframe src="visualization/uccPlotter.html"
          style="width: 100%; margin-left: 5px; height: 400px; border: 0; background-color: white"></iframe>
  <iframe src="visualization/clusterBubbles.html"
          style="width: 100%; margin-left: 5px; height: 400px; border: 0; background-color: white"></iframe>
</div>
<div ng-if="$parent.openVisualizationType == 'FD'">
  <iframe src="visualization/ZoomableSunburst.html"
          style="width: 100%; margin-left: 5px; height: 400px; border: 0; background-color: white"></iframe>
  <iframe src="visualization/CirclePacking.html"
          style="width: 100%; margin-left: 5px; height: 400px; border: 0; background-color: white"></iframe>
  <iframe src="visualization/PrefixTree.html"
          style="width: 100%; margin-left: 5px; height: 400px; border: 0; background-color: white"></iframe>
</div>
