<div class="settings-container">
  <h2 class="settings-headline">Add datasource</h2>
  <br>
  <div layout="row">
    <h4 style="padding-top: 5px; padding-right: 5px;">Input type:</h4>
    <md-select ng-model="selectedInput" placeholder="Select type">
      <md-option value="file">File input</md-option>
      <md-option value="database">Database Connection</md-option>
      <md-option value="table">Table Input</md-option>
    </md-select>
  </div>
  <div ng-if="selectedInput=='file'">
    <div layout="row">
      <md-select ng-model="selectedFile" placeholder="Select file">
        <md-option value="file">file123.csv</md-option>
        <md-option value="file2">file33.csv</md-option>
      </md-select>
      <md-input-container style="margin-left: 10px;">
        <label>Comment</label>
        <input type="text"/>
      </md-input-container> 
    </div>
    <h4 class="additional-settings">Additional settings</h4>
    <div layout="row">
      <md-input-container>
        <label>Separator</label>
        <input type="text"/>
      </md-input-container> 
       <md-input-container>
        <label>Escape Character</label>
        <input type="text"/>
      </md-input-container> 
       <md-input-container>
        <label>Line</label>
        <input type="text"/>
      </md-input-container> 
       <md-input-container>
        <label>Null Value</label>
        <input type="text"/>
      </md-input-container> 
      <md-input-container>
        <label>Strict Quotes</label>
        <input type="text"/>
      </md-input-container> 
    </div>
 
   </div>
  <div ng-if="selectedInput=='database'">
    <p>Database</p>
  </div>
  <div ng-if="selectedInput=='table'">
    <p>Table</p>
  </div>

  <br>
  <md-button ng-if="selectedInput.length > 0" class="md-raised md-primary" ng-click="closeThisDialog('save')">Save</md-button>
</div>
