<h2>Edit datasource</h2>
<div class="algorithms-container">
  <md-list>
    <div ng-repeat="datasource in datasources">
     <md-subheader class="md-no-sticky" ng-bind="datasource.name"></md-subheader>
     <md-list-item class="md-2-line" ng-repeat="item in datasource.datasource">
     <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="data.cb5" class="md-primary">
       <div class="algo-in-list md-list-item-text">
         <h4>{{ item.name }}</h4>
         <p class="algo-desc">{{ item.desc }}</p>
       </div>
     </md-checkbox>
     </md-list-item>
     <md-divider></md-divider>
    </div>
 </md-list>
</div>
