<div class="settings-container">
  <h2 class="settings-headline">Edit datasource</h2>

  <div class="add-new">
    <md-button class="md-raised md-primary" ng-click="openNewDatasource()"><i class="fa fa-plus"></i></md-button>
  </div>
  <div class="datasources" ng-repeat="datasource in datasources">
    <h3 ng-bind="datasource.name"></h3>

    <div ng-repeat="item in datasource.datasource">
      <div class="algo-in-list md-list-item-text">
        <h4>{{ item.name }}</h4>

        <p class="algo-desc">{{ item.desc }}</p>

        <div class="settings">
          <md-button class="md-raised"><i class="fa fa-pencil"></i></md-button>
          <md-button class="md-raised"><i class="fa fa-trash-o"></i></md-button>
        </div>
      </div>
    </div>
  </div>
</div>
