@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);

html {
  font-family: 'Roboto Slab', serif;
}

body, md-content.md-default-theme {
  background-color: #CFD8DC;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.main-container {
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;

}

md-card, md-card-content, md-list-item, .md-header, .resultsTable md-content {
  background-color: #ffffff !important;
}

md-card-content h2 {
  margin-top: 10px;
}

.md-header {
  padding-left: 25px;
  padding-right: 25px;
}

h1, h2 {
  color: #263238;
}

[layout=row] {
  flex-direction: row;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;
}

.thumbnail img.pull-right {
  width: 50px;
}

md-toolbar.md-default-theme {
  background-color: black;
}

section.jumbotron {
  margin-bottom: 30px;
  padding: 1px 30px;
  background-color: #5aadbb;
  text-align: center;

  color: white;
}

section.jumbotron h1 {
  font-size: 3em;
}

.techs {
  display: flex;
  flex-flow: row wrap;
}

.techs md-card {
  width: 30%;
}

.techs md-card img.pull-right {
  float: right;
  width: 50px;
}

.ngdialog.ngdialog-theme-default .ngdialog-content {
  width: 800px !important;
  height: auto;
}

.ngdialog.ngdialog-theme-default .ngdialog-content .settings-container {
  overflow-y: scroll;
  height: 95% !important;
}

/* ##### MAIN ##### */
.main-container .metanome-logo {
  height: 40px;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 100;
}

.main-container .tabsdemoDynamicTabs md-content {
  background-color: transparent !important;
}

.main-container .tabsdemoDynamicTabs md-content md-tabs {
  border: 1px solid #e1e1e1;
}

.main-container .tabsdemoDynamicTabs md-content md-tabs md-tab-content {
  background: #f6f6f6;
}

.main-container .tabsdemoDynamicTabs md-content md-tabs md-tabs-canvas {
  background: white;
}

.main-container .tabsdemoDynamicTabs md-content h1:first-child {
  margin-top: 0;
}

.main-container .tabsdemoDynamicTabs md-input-container {
  padding-bottom: 0;
}

.main-container .tabsdemoDynamicTabs .remove-tab {
  margin-bottom: 40px;
}

.main-container .tabsdemoDynamicTabs .metanome-tab > div > div {
  padding: 25px;
  box-sizing: border-box;
}

.main-container .tabsdemoDynamicTabs .edit-form input {
  width: 100%;
}

.main-container .tabsdemoDynamicTabs md-tabs {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.main-container .tabsdemoDynamicTabs md-tab[disabled] {
  opacity: 0.5;
}

.main-container .tabsdemoDynamicTabs label {
  text-align: left;
}

.main-container .tabsdemoDynamicTabs .long > input {
  width: 264px;
}

.main-container .tabsdemoDynamicTabs .md-button.add-tab {
  transform: translateY(5px);
}

/*##### NEW CONTROLLER #### */
/*Hack to always show scrollbar on OSX http://stackoverflow.com/questions/7492062/css-overflow-scroll-always-show-vertical-scroll-bar
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}*/

.new-controller .listdemoBasicUsage md-divider {
  margin-top: 10px;
  margin-bottom: 10px;
}

.new-controller .algo-desc {
  margin-top: -18px;
  margin-bottom: 10px;
}

.new-controller .algo-in-list {
  padding: 0 5px 0 5px;
}

.new-controller .algo-in-list.active {
  background: #9FA8DA !important;
}

.new-controller .algo-in-list:hover {
  background: #E8EAF6;
  cursor: pointer;
}

.new-controller .algorithms-container .algo-in-list {
  margin-top: -10px;
}

.new-controller .algorithms-container, .new-controller .datasources-container {
  overflow: auto;
  height: 330px;
  overflow-y: scroll;
}

.new-controller .md-no-sticky {
  margin-left: -15px;
  margin-bottom: -20px;
}

.new-controller .settings-algorithm {
  position: absolute;
  right: 50%;
  top: 100px;
  margin-right: 35px;
  margin-top: 30px;
  cursor: pointer;
  color: black;
}

.new-controller .reset-algorithm {
  position: absolute;
  right: 54%;
  top: 100px;
  margin-right: 35px;
  margin-top: 30px;
  cursor: pointer;
  color: black;
}

.new-controller .reset-datasources {
  position: absolute;
  right: 4%;
  top: 100px;
  margin-right: 65px;
  margin-top: 30px;
  cursor: pointer;
  color: black;
}

.help-icon {
  cursor: pointer;
  color: black;
  font-size: 16px;
}

.new-controller .settings-datasources {
  position: absolute;
  right: 0;
  top: 100px;
  margin-right: 65px;
  margin-top: 30px;
  cursor: pointer;
  color: black;
}

.new-controller md-checkbox .md-label {
  border: none !important;
}

.new-controller md-checkbox {
  margin: 0 !important;
  margin-bottom: -30px !important
}

.new-controller .datasources-container md-divider {
  margin-top: 20px;
}

.settings-container .algo-desc {
  margin-top: -30px;
}

.settings-container .settings {
  margin-top: -65px;
  margin-left: 650px;
}

.settings-container .add-new {
  margin-top: -25px;
  margin-left: 710px;
  margin-bottom: -30px;
}

.settings-container .add-new .md-button {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 10px;
}

.settings-container .settings .md-button {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 10px;
}

.settings-container h2 {
  margin-bottom: -25px;
}

.settings-container h3 {
  margin-top: 55px;
}

.md-select-menu-container {
  z-index: 10000 !important;
}

.md-select-menu-container md-content {
  background-color: white !important;
}

h4.additional-settings {
  margin-bottom: -0px;
}

.resultsTable a {
  text-decoration: none;
}

.resultsTable i {
  vertical-align: middle;
  font-size: 24px;
}

.resultsTable .main-fab {
  position: absolute;
  z-index: 20;
  font-size: 30px;
  top: 100px;
  left: 24px;
  transform: scale(.88, .88);
}

.resultsTable .md-breadcrumb {
  padding-left: 88px;
}

.resultsTable .JCLRgrip:first-child {
  left: 105px !important;
  display: none !important;
}

.resultsTable .JColResizer th:first-child {
  width: 105px !important;
}

.resultsTable .md-table {
  min-width: 100%;
  border-collapse: collapse;
}

.resultsTable .md-table tbody tr:hover, .md-table tbody tr:focus {
  cursor: pointer;
  background-color: rgba(63, 81, 181, 0.2);
}

.resultsTable .md-table-header {
  border-bottom: 1px solid rgb(230, 230, 230);
  color: rgb(130, 130, 130);
  text-align: left;
  font-size: 0.75em;
  font-weight: 700;
  padding: 16px 16px 16px 0;
}

.resultsTable .md-table-header a {
  text-decoration: none;
  color: inherit;
}

.resultsTable .md-table-content {
  font-size: 0.8em;
  padding: 16px 16px 16px 0;
  height: 72px;
}

.resultsTable .md-table-td-more {
  max-width: 72px;
  width: 72px;
  padding: 16px;
}

.resultsTable .md-table-thumbs {
  max-width: 104px;
  width: 104px;
  padding: 16px 32px;
}

.resultsTable .md-table-thumbs div {
  overflow: hidden;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-size: cover;
  box-shadow: 0 8px 10px rgba(0, 0, 0, .3);
  -webkit-box-shadow: 0 8px 10px rgba(0, 0, 0, .1);
}

.resultsTable .md-table-footer {
  height: 40px;
  padding-left: 32px;
  padding-right: 32px;
}

.resultsTable .md-table-count-info {
  line-height: 40px;
  font-size: .75em;
}

.resultsTable .md-table-footer-item {
  width: 40px;
  height: 40px;
  vertical-align: middle;
}

.resultsTable .md-table-active-page {
  font-weight: 700;
}

.resultsTable .bold {
  font-weight: 700;
}

.resultsTable .grey {
  color: grey;
}

.resultsTable md-input-container.md-default-theme .md-input {
  color: white;
  border-color: white;
  margin-top: 24px;
}

md-table {
  padding: 0 20px 0 20px;
}

.mdDataTable {
  background-color: white !important;
}

.mdDataTable-header button {
  visibility: hidden;
}

.tabLink {
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  align-items: center;
  box-sizing: border-box;
  color: rgb(63, 81, 181) !important;
  cursor: pointer;
  display: flex;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  max-width: 1578px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 20px 24px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transition-delay: 0s, 0s;
  transition-duration: 0.35s, 0.35s;
  transition-property: background, color;
  transition-timing-function: cubic-bezier(0.35, 0, 0.25, 1), cubic-bezier(0.35, 0, 0.25, 1);
  white-space: nowrap;
  width: 81px;
  z-index: 0;
  display: table-cell;
  text-decoration: none;
}

.tabbar {
  background-color: white;
  width: calc(100% - 17px);
  margin-left: 7px;
  margin-right: 7px;
  margin-bottom: 10px;
}

.tabLink.highlighted {
  font-weight: bold;
}

.tabbar-content {
  display: table;
  width: 100%
}

.tabbar-content .active {
  background-color: #eeeeee;
}

.tab.active {
  font-weight: bold;
}

md-content {
  margin-top: 110px;
  margin-left: 35px;
  margin-right: 35px;
}

/*.main {*/
/*min-height: 100% !important;*/
/*height: 900px;*/
/*margin-bottom: -70px;*/
/*background-color: #CFD8DC;*/
/*z-index: 10*/
/*}*/
/*.main:after {*/
/*content: "";*/
/*display: block;*/
/*}*/
/*.site-footer, .page-wrap:after {*/
/*height: 40px;*/
/*}*/
/*.site-footer {*/
/*background-color: #CFD8DC;*/
/*width: 100%;*/
/*text-align: center;*/
/*height: 45px;*/
/*z-index: -1;*/
/*}*/

.algorithmIcon, .datasourceIcon {
  float: right;
  margin-right: 10px;
}

.datasourceIcon {
  float: right;
  padding-right: 5px !important;
}

.tabsdemoDynamicHeight md-content {
  background-color: transparent !important;
}

.tabsdemoDynamicHeight md-content md-tabs {
  background: #f6f6f6;
  border: 1px solid #e1e1e1;
}

.tabsdemoDynamicHeight md-content md-tabs md-tabs-canvas {
  background: white;
}

.tabsdemoDynamicHeight md-content h1:first-child {
  margin-top: 0;
}

.ngdialog.ngdialog-theme-default .ngdialog-button.ngdialog-button-warning {
  background: #F44336;
  color: #FFEBEE;
}

.background {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background-color: #CFD8DC;
  z-index: -100000;
}

md-data-table-toolbar h2 {
  margin-top: 25px;
}

md-data-table-pagination div button:first-child, md-data-table-pagination div button:last-child {
  display: none !important;
}

.list-category {
  padding: 25px 0 15px 0;
  color: rgb(63, 81, 181);
  font-weight: bold !important;
}

.form-input {
  margin-bottom: 30px;
}

.ngdialog.ngdialog-theme-default .ngdialog-close:before {
  visibility: hidden;
}
