<div class="main-container">

 <div class="tabbar">
  <div class="tabbar-content">
    <a ng-href='#/new' class="tabLink"><div class="tab"><span>NEW</span></div></a>
    <a ng-href='#/history' class="tabLink"><div class="tab"><span>HISTORY</span></div></a>
    <a ng-href='#/result/{{id}}' class="tabLink"><div class="tab"><span>RESULT</span></div></a>
    <a class="tabLink active"><div class="tab"><span>VISUALIZATION</span></div></a>
  </div>
</div>

    <div ng-if="type == 'UCC'">
        <iframe src="http://127.0.0.1:8888/uccPlotter.html" style="width: 100%; margin-left: 5px; height: 400px; border: 0px; background-color: white"></iframe>
        <iframe src="http://127.0.0.1:8888/clusterBubbles.html" style="width: 100%; margin-left: 5px; height: 400px; border: 0px; background-color: white"></iframe>
    </div>
    <div ng-if="type == 'FD'">
        <iframe src="http://127.0.0.1:8888/ZoomableSunburst.html" style="width: 100%; margin-left: 5px; height: 400px; border: 0px; background-color: white"></iframe>
        <iframe src="http://127.0.0.1:8888/CirclePacking.html" style="width: 100%; margin-left: 5px; height: 400px; border: 0px; background-color: white"></iframe>
        <iframe src="http://127.0.0.1:8888/PrefixTree.html" style="width: 100%; margin-left: 5px; height: 400px; border: 0px; background-color: white"></iframe>
    </div>
</div>
