@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);

html {
  font-family: 'Roboto Slab', serif;
}

body, md-content.md-default-theme {
  background-color: #8BC34A;

}

md-card, md-card-content, md-list-item, .md-header{
  background-color: #ffffff !important;
}

[layout=row] {
  flex-direction: row;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;
}

.thumbnail img.pull-right {
  width: 50px;
}

md-toolbar.md-default-theme {
  background-color: black;
}

section.jumbotron {
  margin-bottom: 30px;
  padding: 1px 30px;
  background-color: #5aadbb;
  text-align: center;

  color: white;
}

section.jumbotron h1 {
  font-size: 3em;
}

.techs {
  display: flex;
  flex-flow: row wrap;
}

.techs md-card {
  width: 30%;
}

.techs md-card img.pull-right {
  float: right;
  width: 50px;
}

.ngdialog.ngdialog-theme-default .ngdialog-content {
  width: 90% !important;
  height: 90% !important;
}

.ngdialog.ngdialog-theme-default .ngdialog-content .settings-container {
  overflow-y: scroll;
  height: 85% !important;
}

/* ##### MAIN ##### */
.main-container .metanome-logo {
  height: 40px;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 100;
}

.main-container .tabsdemoDynamicTabs md-content {
  background-color: transparent !important;
}

.main-container .tabsdemoDynamicTabs md-content md-tabs {
    border: 1px solid #e1e1e1;
}

.main-container .tabsdemoDynamicTabs md-content md-tabs md-tab-content {
      background: #f6f6f6;
}

.main-container .tabsdemoDynamicTabs md-content md-tabs md-tabs-canvas {
      background: white;
}

.main-container .tabsdemoDynamicTabs md-content h1:first-child {
    margin-top: 0;
}

.main-container .tabsdemoDynamicTabs md-input-container {
  padding-bottom: 0;
}

.main-container .tabsdemoDynamicTabs .remove-tab {
  margin-bottom: 40px;
}

.main-container .tabsdemoDynamicTabs .metanome-tab > div > div {
  padding: 25px;
  box-sizing: border-box;
}

.main-container .tabsdemoDynamicTabs .edit-form input {
  width: 100%;
}

.main-container .tabsdemoDynamicTabs md-tabs {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.main-container .tabsdemoDynamicTabs md-tab[disabled] {
  opacity: 0.5;
}

.main-container .tabsdemoDynamicTabs label {
  text-align: left;
}

.main-container .tabsdemoDynamicTabs .long > input {
  width: 264px;
}

.main-container .tabsdemoDynamicTabs .md-button.add-tab {
  transform: translateY(5px);
}

/* ##### NEW CONTROLLER #### */
/*Hack to always show scrollbar on OSX http://stackoverflow.com/questions/7492062/css-overflow-scroll-always-show-vertical-scroll-bar */
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
.new-controller .listdemoBasicUsage md-divider {
  margin-top: 10px;
  margin-bottom: 10px;
}

.new-controller .algo-desc {
  margin-top: -18px;
  margin-bottom: 10px;
}

.new-controller .algo-in-list:hover {
  background: #C5E1A5;
  cursor: pointer;
}

.new-controller .algorithms-container .algo-in-list {
  margin-top: -10px;
}

.new-controller .algorithms-container, .new-controller .datasources-container {
  overflow: scroll;
  height: 330px;
  overflow-y: scroll;
}

.new-controller .md-no-sticky {
  margin-left: -15px;
  margin-bottom: -20px;
}

.new-controller .settings-algorithm {
  position: absolute;
  right: 50%;
  top: 30px;
  margin-right: 30px;
  margin-top: 30px;
  cursor: pointer;
}

.new-controller .settings-datasources{
  position: absolute;
  right: 0;
  top: 30px;
  margin-right: 50px;
  margin-top: 30px;
  cursor: pointer;
}

.new-controller md-checkbox .md-label {
  border: none !important;
}

.new-controller md-checkbox {
  margin: 0 !important;
  margin-bottom: -30px !important
}

.new-controller .datasources-container md-divider{
  margin-top: 20px; 
}

.settings-container .algo-desc {
  margin-top: -30px;
} 

