<?xml version="1.0" encoding="UTF-8"?>
<web-app>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Hello.html</welcome-file>
  </welcome-file-list>
  
  <!-- Servlets -->
  <servlet>
  	<servlet-name>parameterServiceImpl</servlet-name>
  	<servlet-class>de.uni_potsdam.hpi.metanome.frontend.server.ParameterServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>parameterServiceImpl</servlet-name>
  	<url-pattern>/hello/parameterService</url-pattern>
  </servlet-mapping>

</web-app>