<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2014 by the Metanome project
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<web-app>

    <!-- Default page to serve -->
    <welcome-file-list>
        <welcome-file>Metanome.html</welcome-file>
    </welcome-file-list>

    <!-- Servlets -->
    <servlet>
        <servlet-name>rest</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>de.metanome.backend.resources</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>rest</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>parameterServiceImpl</servlet-name>
        <servlet-class>de.metanome.frontend.server.ParameterServiceImpl
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>parameterServiceImpl</servlet-name>
        <url-pattern>/metanome/parameterService</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>fileInputServiceImpl</servlet-name>
        <servlet-class>de.metanome.frontend.server.FileInputServiceImpl
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>fileInputServiceImpl</servlet-name>
        <url-pattern>/metanome/fileInputService</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>tableInputServiceImpl</servlet-name>
        <servlet-class>de.metanome.frontend.server.TableInputServiceImpl
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>tableInputServiceImpl</servlet-name>
        <url-pattern>/metanome/tableInputService</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>inputServiceImpl</servlet-name>
        <servlet-class>de.metanome.frontend.server.InputServiceImpl
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>inputServiceImpl</servlet-name>
        <url-pattern>/metanome/inputService</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>de.metanome.frontend.server.DatabaseInitializer
        </listener-class>
    </listener>

</web-app>
