<h1>Create a new job</h1>
<div layout="row" layout-wrap>
  <div flex="50">
    <md-card>
      <md-card-content>
        <div class="algorithms-container">
          <md-list>
            <div ng-repeat="algorithms in category">
             <md-subheader class="md-no-sticky" ng-bind="algorithms.name"></md-subheader>
             <md-list-item class="md-2-line" ng-repeat="item in algorithms.algorithms">
               <div class="algo-in-list md-list-item-text">
                 <h3>{{ item.name }}</h3>
                 <p class="algo-desc">{{ item.desc }}</p>
               </div>
             </md-list-item>
             <md-divider ></md-divider>
            </div>
         </md-list>
        </div>
      </md-card-content>
    </md-card>
  </div>
  <div flex="50">
    <md-card>
      <img class="md-card-image" src="http://placehold.it/400x150" />
      <md-card-content>
        <span>Select data source</span>
      </md-card-content>
    </md-card>
  </div>
  <div flex="100">
    <md-card>
      <img class="md-card-image" src="http://placehold.it/1000x150" />
      <md-card-content>
        <span>Configuration</span>
      </md-card-content>
    </md-card>
  </div>

</div>
